body{
    background-image: url(https://4.bp.blogspot.com/-8pVZrysWM08/W2NwDRQC6yI/AAAAAAAAArE/IhD5w09zfBo7L2P4ZmSavq4O5GjIxdAmQCEwYBhgL/s320/GIF.gif);
    color: white;
    text-align: center;
    background-size: cover;
}